<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Upload Image</title>
    <style>
        /* static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
}

.results {
    margin-top: 20px;
}

    </style>
  </head>
  <body>
    <h1>Upload an Image</h1>
    <form action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </form>
  </body>
</html>
